	* {
	max-width: 1000px;
	background-color: lightcyan;
	margin: auto;
	}	
	
	body {
	margin: 0px;
  	padding: 0px;
  	font-family: "Montserrat",sans-serif;
	}

	.column1 {
	color: darkblue;
	padding: 5px;
	}	

	.AoEcolumn1 {
	margin-bottom: -30px;
	top: 20px;
	position: relative;
	left: 50px;
	}

	.AoEcolumn2 {
	top: -20px;
        position: relative;
       	left: 750px;
	}

	.WEcolumn1 {
	}


